node-red.json
[
    {
        "id": "0ea88e2dc42daf85",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c2202631d49ba636",
        "type": "group",
        "z": "0ea88e2dc42daf85",
        "name": "Installer",
        "style": {
            "label": true
        },
        "nodes": [
            "099e4ec6cfcce731",
            "d157398c1f7cc1b7",
            "81d17b40d9ce940c",
            "0f9cd3e663b6c311",
            "b4f537d17d535b65"
        ],
        "x": 154,
        "y": 39,
        "w": 672,
        "h": 202
    },
    {
        "id": "f8c84f057bccfbe6",
        "type": "group",
        "z": "0ea88e2dc42daf85",
        "name": "Execution",
        "style": {
            "label": true
        },
        "nodes": [
            "mqttState",
            "uiState",
            "mqttSTT",
            "uiSTT",
            "mqttLLM",
            "uiLLM",
            "btnStart",
            "execStart",
            "cecc2d0962095f63",
            "e4b63e1dc97f92b7",
            "d9a6043be600637a",
            "btnShutdown",
            "setTopic",
            "mqttOut"
        ],
        "x": 154,
        "y": 279,
        "w": 712,
        "h": 422
    },
    {
        "id": "099e4ec6cfcce731",
        "type": "exec",
        "z": "0ea88e2dc42daf85",
        "g": "c2202631d49ba636",
        "command": "cmd.exe /C \"python C:\\Users\\andre\\projects\\voice-assistant\\install_assistant.py\"",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "installer",
        "x": 480,
        "y": 140,
        "wires": [
            [
                "d157398c1f7cc1b7"
            ],
            [
                "0f9cd3e663b6c311"
            ],
            [
                "b4f537d17d535b65"
            ]
        ],
        "info": "Install the required dependencies and libraries"
    },
    {
        "id": "d157398c1f7cc1b7",
        "type": "debug",
        "z": "0ea88e2dc42daf85",
        "g": "c2202631d49ba636",
        "name": "standard out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "81d17b40d9ce940c",
        "type": "inject",
        "z": "0ea88e2dc42daf85",
        "g": "c2202631d49ba636",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "install",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "099e4ec6cfcce731"
            ]
        ]
    },
    {
        "id": "0f9cd3e663b6c311",
        "type": "debug",
        "z": "0ea88e2dc42daf85",
        "g": "c2202631d49ba636",
        "name": "standard err",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "b4f537d17d535b65",
        "type": "debug",
        "z": "0ea88e2dc42daf85",
        "g": "c2202631d49ba636",
        "name": "exit code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "mqttState",
        "type": "mqtt in",
        "z": "0ea88e2dc42daf85",
        "g": "f8c84f057bccfbe6",
        "name": "State",
        "topic": "assistant/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqttBroker1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 250,
        "y": 580,
        "wires": [
            [
                "uiState"
            ]
        ]
    },
    {
        "id": "uiState",
        "type": "ui-text",
        "z": "0ea88e2dc42daf85",
        "g": "f8c84f057bccfbe6",
        "group": "uiGroupLive",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "State",
        "label": "State",
        "format": "{{msg.payload}}",
        "layout": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 390,
        "y": 580,
        "wires": []
    },
    {
        "id": "mqttSTT",
        "type": "mqtt in",
        "z": "0ea88e2dc42daf85",
        "g": "f8c84f057bccfbe6",
        "name": "Transcript",
        "topic": "assistant/stt",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqttBroker1",
        "inputs": 0,
        "x": 580,
        "y": 660,
        "wires": [
            [
                "uiSTT"
            ]
        ]
    },
    {
        "id": "uiSTT",
        "type": "ui-text",
        "z": "0ea88e2dc42daf85",
        "g": "f8c84f057bccfbe6",
        "group": "uiGroupLive",
        "order": 2,
        "width": 12,
        "height": 1,
        "name": "Heard",
        "label": "Heard",
        "format": "{{msg.payload}}",
        "x": 790,
        "y": 660,
        "wires": []
    },
    {
        "id": "mqttLLM",
        "type": "mqtt in",
        "z": "0ea88e2dc42daf85",
        "g": "f8c84f057bccfbe6",
        "name": "Assistant Output",
        "topic": "assistant/llm_chunk",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqttBroker1",
        "inputs": 0,
        "x": 600,
        "y": 580,
        "wires": [
            [
                "uiLLM"
            ]
        ]
    },
    {
        "id": "uiLLM",
        "type": "ui-text",
        "z": "0ea88e2dc42daf85",
        "g": "f8c84f057bccfbe6",
        "group": "uiGroupLive",
        "order": 3,
        "width": 12,
        "height": 1,
        "name": "Speaking",
        "label": "Speaking",
        "format": "{{msg.payload}}",
        "x": 780,
        "y": 580,
        "wires": []
    },
    {
        "id": "btnStart",
        "type": "ui-button",
        "z": "0ea88e2dc42daf85",
        "g": "f8c84f057bccfbe6",
        "group": "uiGroupControls",
        "name": "Start Assistant",
        "label": "Start Assistant",
        "order": 5,
        "width": "6",
        "height": 1,
        "emulateClick": false,
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "start",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 260,
        "y": 320,
        "wires": [
            [
                "execStart"
            ]
        ]
    },
    {
        "id": "execStart",
        "type": "exec",
        "z": "0ea88e2dc42daf85",
        "g": "f8c84f057bccfbe6",
        "command": "cmd.exe",
        "addpay": "kill",
        "append": "/C \"C:\\Users\\andre\\projects\\voice-assistant\\venv\\Scripts\\python.exe C:\\Users\\andre\\projects\\voice-assistant\\main.py\"",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "name": "Assistant",
        "x": 500,
        "y": 380,
        "wires": [
            [
                "cecc2d0962095f63"
            ],
            [
                "e4b63e1dc97f92b7"
            ],
            [
                "d9a6043be600637a"
            ]
        ]
    },
    {
        "id": "cecc2d0962095f63",
        "type": "debug",
        "z": "0ea88e2dc42daf85",
        "g": "f8c84f057bccfbe6",
        "name": "standard out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "e4b63e1dc97f92b7",
        "type": "debug",
        "z": "0ea88e2dc42daf85",
        "g": "f8c84f057bccfbe6",
        "name": "standard err",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "d9a6043be600637a",
        "type": "debug",
        "z": "0ea88e2dc42daf85",
        "g": "f8c84f057bccfbe6",
        "name": "exit code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "btnShutdown",
        "type": "ui-button",
        "z": "0ea88e2dc42daf85",
        "g": "f8c84f057bccfbe6",
        "group": "uiGroupControls",
        "name": "Stop Assistant",
        "label": "Stop Assistant",
        "order": 1,
        "width": "6",
        "height": 1,
        "emulateClick": false,
        "className": "",
        "icon": "",
        "iconPosition": "right",
        "payload": "shutdown",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 260,
        "y": 400,
        "wires": [
            [
                "setTopic"
            ]
        ]
    },
    {
        "id": "setTopic",
        "type": "change",
        "z": "0ea88e2dc42daf85",
        "g": "f8c84f057bccfbe6",
        "name": "set topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "assistant/cmd",
                "tot": "str"
            }
        ],
        "x": 260,
        "y": 480,
        "wires": [
            [
                "mqttOut"
            ]
        ]
    },
    {
        "id": "mqttOut",
        "type": "mqtt out",
        "z": "0ea88e2dc42daf85",
        "g": "f8c84f057bccfbe6",
        "name": "publish cmd",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqttBroker1",
        "x": 450,
        "y": 480,
        "wires": []
    },
    {
        "id": "mqttBroker1",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "uiGroupLive",
        "type": "ui-group",
        "name": "Live Feed",
        "page": "uiPage1",
        "width": "6",
        "height": "3",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "uiGroupControls",
        "type": "ui-group",
        "name": "Controls",
        "page": "uiPage1",
        "width": 6,
        "height": "3",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "uiPage1",
        "type": "ui-page",
        "name": "Assistant",
        "ui": "uiBase1",
        "path": "",
        "icon": "microphone",
        "layout": "grid",
        "theme": "4c0f6fb302976c75",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "uiBase1",
        "type": "ui-base",
        "name": "Assistant UI",
        "path": "/dashboard",
        "titleBarStyle": "default"
    },
    {
        "id": "4c0f6fb302976c75",
        "type": "ui-theme",
        "name": "Assistant theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "9c1411ddd0ca6caf",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]